<div id="content">
  <p class="heading1">Barocert SDK Ruby On Rails Example.</p>
  <br/>
  <fieldset class="fieldset1">
    <legend>본인인증</legend>
    <ul>
      <li><a href="KakaocertExample/requestIdentity">requestIdentity</a> - 본인인증 요청</li>
      <li><a href="KakaocertExample/getIdentityStatus">getIdentityStatus</a> - 본인인증 서명상태 확인</li>
      <li><a href="KakaocertExample/verifyIdentity">verifyIdentity</a> - 본인인증 서명검증</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>전자서명(단건)</legend>
    <ul>
      <li><a href="KakaocertExample/requestSign">requestSign</a> - 전자서명 요청(단건)</li>
      <li><a href="KakaocertExample/getSignStatus">getSignStatus</a> - 전자서명 서명상태 확인(단건)</li>
      <li><a href="KakaocertExample/verifySign">verifySign</a> - 전자서명 서명검증(단건)</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>전자서명(복수)</legend>
    <ul>
      <li><a href="KakaocertExample/requestMultiSign">requestMultiSign</a> - 전자서명 요청(복수)</li>
      <li><a href="KakaocertExample/getMultiSignStatus">getMultiSignStatus</a> - 전자서명 서명상태 확인(복수)</li>
      <li><a href="KakaocertExample/verifyMultiSign">verifyMultiSign</a> - 전자서명 서명검증(복수)</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>자동이체 출금동의</legend>
    <ul>
      <li><a href="KakaocertExample/requestCMS">requestCMS</a> - 자동이체 출금동의 요청</li>
      <li><a href="KakaocertExample/getCMSStatus">getCMSStatus</a> - 자동이체 출금동의 전자서명 서명상태 확인</li>
      <li><a href="KakaocertExample/verifyCMS">verifyCMS</a> - 자동이체 출금동의 전자서명 서명검증</li>
    </ul>
  </fieldset>
</div>
