<div id="content">
  <p class="heading1">Barocert Ruby On Rails Example</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <ul>
      <li>ReceiptID (접수아이디) : <%= @Response['receiptID'] %></li>
      <li>Scheme (앱스킴) : <%= @Response['scheme'] %></li>
    </ul>
  </fieldset>
</div>
